/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  .date {
    border: 1px solid #BBB;
    grid-column: span 3;
  }
  .social {
    display: block;
    max-width: 37.5px;
    grid-column: 3;
    grid-row: 1;
    margin-top: 0;
    justify-self: end;
  }
  .slogan {margin-top: 1.5rem;}

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 50px;
    max-width: 59rem;
    margin: auto;
  }
  #message{grid-column: span 4; grid-row: 1;}
  .title {grid-column: 1; font-size: 1.5rem; padding: 0;}
  .hero {grid-column: span 4; grid-row: 3; display: block;}
  .news {grid-column: span 4; grid-row: 4;}
  .spot1 {grid-column: span 2; grid-row: 5;}
  .spot2 {grid-column: 3 / span 2; grid-row: 5;}
  .join {display:block; grid-column: span 4; grid-row: 6;}
  .event {grid-column: span 2; grid-row: 7;}
  .weather {grid-column: 3 / span 2; grid-row: 7;}

  .marquee_wrapper {
    height: 44px;
    width: 100%;
  }
  picture img {
    max-width: 100%;
  }

  figure {
    width: 100%;
  }

  .join {
    text-align: center;
  }
  .weather figure img {
    width: 60%;
    margin: 5px;
  }

  footer {
    display: grid;
    grid-template-columns: 5rem auto auto;
  }

  picture {grid-column: 1;}
  #location {grid-column: 2; text-align: left;}
  #personal-info {grid-column: 3; text-align: right; margin-right: 1rem;}
  #copyright {grid-column: span 3;}

  .demo-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    background-color: #ffffff;
    padding: 2rem;
  }
  
  #info1 {
    display: block;
  }
  section:nth-child(3) {
    grid-column: span 4;
    grid-row: 3;
  }
  .demography {
    display: none;
  }
  .item_one {
    display: none;
  }
  .item_two {
    display: none;
  }
  
  section:nth-child(7) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  section:nth-child(8) {
    grid-column: 3 / span 2;
    grid-row: 4;
  }
  section:nth-child(9) {
    grid-column: 1 / span 2;
    grid-row: 5;
  }
  section:nth-child(10) {
    grid-column: 3 / span 2;
    grid-row: 5;
  }
  section:nth-child(11) {
    display: none;
  }
  main.directory_main{
    display: block;
  }

  main.directory_main #message {
    display: none;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  /*.directory_main h1 {
    grid-column: 1 / span 4;
    grid-row: 2;
  }*/
  .cards section:nth-child(1){
    grid-column: 1;
    grid-row: 3;
  }
  .cards section:nth-child(2) {
    grid-column: 2;
    grid-row: 3;
  }
  .cards section:nth-child(3) {
    grid-column: 1;
    grid-row: 4;
  }
  .cards section:nth-child(4) {
    grid-column: 2;
    grid-row: 4;
  }
  .cards section:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
  }
  .cards section:nth-child(6) {
    grid-column: 2;
    grid-row: 5;
  }
  .cards section:nth-child(7) {
    grid-column: 1;
    grid-row: 6;
  }
  .cards section:nth-child(8) {
    grid-column: 2;
    grid-row: 6;
  }
  .cards section:nth-child(9) {
    grid-column: 1;
    grid-row: 7;
  }
  

} /*end medium */

