/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
   box-sizing: border-box;
  }

/* body rules here!*/
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
/* header rules here!*/
header {
  padding: .5rem 2%;
  background-color: #666666;
  display: grid;
  grid-template-columns: 75px auto;
  color: #FFFFFF;
}

video{
  display: none;
}
#backup_image img{
  display: none;
}
#backup_image figcaption{
  display: none;
}
.hero {
  position: relative; 
}
.home-illustration img {
  display: block;
  width: 100%;
}

.action {
  display: none;
}
.social {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  max-width: 100%;
  margin-top: 1rem;
}

div h1, h2 {
  font-size: 1.2rem;
}
.date {
  grid-column:  2;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}
.slogan {margin-top: .5rem;}


header img {
  max-width: 100%;
}

header div {
  margin-left: 10px;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/* navigation rules here! */
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
}

nav {
  line-height: 2em;
  font-size: 1.2em;
}

nav button {
  margin: .2rem 2vw;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav li a {
  color: #2F6630;
  border-right: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a {
  background-color: #2F6630;
  color: whitesmoke;
}
/*nav a:visited {
  color: #0B0B0B;
}*/
nav a:hover {
  font-weight: 900;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* main rules here! */
div.showme{display: block;}
div.hideme{display: none;}

.title {
  padding: 0;
  margin: 0;
}

.marquee_wrapper {
  position: relative;
  display: block;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin-top: 8px;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  -webkit-text-stroke: 1px #A0EBE5;
  white-space: nowrap;
  font-size: 20px;
  animation: marquee 10s linear infinite;
}
.marquee2 span {
  animation-delay: 7s;
}
@keyframes marquee {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}

.event h3 {
  font-size: .8rem;
  margin-left: 6px;
}


.place-holder-box {
  display: block;
  border: 1px solid #0B0B0B;
  margin: .2rem;
}
a{
  text-decoration: none;
}

.join {display: none;}

footer  {
  display: block;
  text-align: center;
  border: 1px solid #BBB;
  margin-top: 1rem;
  background-color: #666666;
  color: #FFFFFF;
}

footer img {
  max-width: 15%;
}
p  {
  margin: 5px;
  color: #9aa0a6;
}

h2 {
  margin: 5px;
}

/* weather rules here!*/
.weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 95px 50px 25px;
}

#weather_title {
  grid-column: span 2;
  grid-row: 1;
  padding: 0;
  margin: 8px;
}

#temp {
  font-size: 2rem;
  margin: auto;
}
figure {
  padding: 0;
  margin: 0;
}
.weather figure img {
  width: 36%;
  margin: 6px;
}

figcaption.weather_second_title {
  /* text-align: left; */
  width: 100%;
  /* margin: 0; */
  /* display: block; */
  font-weight: 900;
  position: relative;
  left: 130px;
  /* right: 78px; */
  bottom: 30px;
}

.speed_paragraphy {
  grid-column: span 2;
  grid-row: 4;
}

.button a:link {
  border: none; 
  width: 130px; 
  height: 40px;
  background-color: #09B8BA; 
  color: white;
  padding: 10px;
  text-decoration: none;
}
.button a:visited {
  color: white;
}
.button {
  margin: 15px;
}


.chill_paragraphy {
  grid-column: 1 / span 2;
  grid-row: 5;
}

.frameset figure img {
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* discover rules here!*/

section {
  display: block;
  border: 1px solid #9aa0a6;
  margin: .5rem;
}

section div img {
  width: 100%;
}

.contact-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}
.demo-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  background-color: #ffffff;
  padding: 2rem;
}

.demo-info p{
  color: #09B8BA;
  width: 100%;
  font-weight: 900;
}

#contact-heading {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  font-size: 2rem; 
  padding: 1em;
}

.info {
  text-align: center;
  border: 1px solid #dee2e6;
}
.info img {
  width: 50%;
}
#info1 {
  display: none;
}
.storage {
  display: none;
}
.population {
  display: none;
}

.demography {
  display: none;
}


.join_main {
  background-image: url("../images/greyfloral.png");
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.join_main #message {
  display: none;
}
.join_header {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.join_header img {
  display: block;
  width: 100%;
}
.join_title {
  grid-column: 1 / span 2;
  grid-row: 2;
  margin-bottom: 8px;
  font-size: 1.3rem;
}

form{
  grid-column: 1;
  grid-row: 3;
  margin-top: -30px;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem 2%;
  background-color: white;
}

form legend {
  color: #0B0B0B;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #0B0B0B;
  color: #A0EBE5;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}
input.submitBtn:hover {
  font-weight: 900;
}
form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

textarea {
  height: 35vh;
  width: 100%;
}

input[type="radio"] {
  margin-right: 3px;
}

.thank_page {
  display: block;
}
.discover_main #message {
  display: none;
}

section div img[data-src] {
  filter: blur(0.2em);
}

section div img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.cards section{
  display: grid;
  grid-template-columns: 35px 1fr 1fr;
  grid-template-rows: 30px 40px 25px 25px 25px 40px 50px;
  background-color: rgba(240, 240, 240, 0.8);
  border: none;
}
.cards h2 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.cards p:nth-child(2) {
  grid-column: 2 / span 3;
  grid-row: 2;
}
.cards p:nth-child(3) {
  grid-column: 2 / span 2;
  grid-row: 3;
}
.cards p:nth-child(4) {
  grid-column: 2 / span 2;
  grid-row: 4;
}
.cards p:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 5;
}
.cards p:nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 6;
}

.cards button:nth-child(7) {
  grid-column: 3;
  grid-row: 7;
  text-align: center;
  background-color: black;
  padding: 8px;
  color: whitesmoke;
}

.cards section img:nth-child(8) {
  grid-column: 2;
  grid-row: 7;
  width: 30%;
}

.cards section img:nth-child(9) {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  padding: 5px;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bbb;
	text-align: center;
}

.menu button {
	padding: 1rem;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}
.list {
	display: flex;
	flex-direction: column;
  padding: 0.5rem;
}
.list section {
	display: flex;
	align-items: center;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section p:nth-child(2) {
	display: none; /* smaller viewports only */
}

.list section p:nth-child(3) {
	display: none; /* smaller viewports only */
}

.list section p:nth-child(5) {
	display: none; /* smaller viewports only */
}
.list section p:nth-child(6) {
	display: none; /* smaller viewports only */
}

.list section button {
  padding: 0;
  font-size: 16px;
  background-color: #0B0B0B;
}

.cards a {
  text-decoration: none;
  color: #A0EBE5;
}

.cards a:hover {
  font-weight: 750;
}

.list a {
  text-decoration: none;
  color: #A0EBE5;
}

.list a:hover {
  font-weight: 750;
}

footer p {
  color: whitesmoke;
  font-weight: 900;
}