/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 48rem) {
  .homepage-wrapper-1 {
    display: flex;
    padding: 48px 32px;
  }


  .homepage-content-1 {
    padding-right: 16px;
    padding-left: 0;
    width: 50%;
  }

  .homepage-illustration-1 {
    width: 50%;
  }

  .temple-wrapper {
    display: flex;
  }

  section.amenties-class ul {
    display: flex;
  }

  .carousel-mincontainer {
    display: flex;
    flex-wrap: nowrap;
  }

  .min {
    position: relative;
    width: 100%;
    padding: 0 15px 0 15px;
  }

  .break-point-one {
    flex: 0 0 50%;
    max-width: 50%;
  }

  section.temple-card {
		display: grid;
		grid-template-rows: repeat(4, auto);
		grid-template-columns: 4fr 4fr 5fr;
		grid-template-areas: '. . title' 'img img content' 'img img .';
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
  }
	/* The white box that's drawn behind the content*/
	/* You can totally place it on the grid!*/
	section.temple-card::after {
		content: '';
		grid-column: 2 / -1;
		grid-row: 1 / 3;
		position: relative;
		z-index: -1; /*place it behind the other blocks*/
		background: white;
		box-shadow: 0 .2rem 1rem rgba(61,48,41,0.2);
  }
	h2.temple-title {
    grid-area: title;
		padding-top: 6rem;
		padding-left: 3rem;
  }

	.content {
		grid-area: content;
		padding-bottom: 6rem;
		padding-left: 3rem;
		padding-right: 3rem;
  }
	.img {
		grid-area: img;
  }

  h2.temple-title {
    font-size: 1.6rem;
	  margin: 0 0 1rem;
	  font-family: serif;
	  position: relative;
  }
	
	
	/*The line on top of the title*/
	h2.temple-title::after {
    content: '';
		position: absolute;
		width: 6rem;
		background-color: #cccc;
		height: 2px;
		top: 0;
		left: 0;
    left: var(--box-x-padding);
    top: var(--box-y-padding);
  }
  @media (min-width: 48rem) {
    h1.temple-title::after {
      left: var(--box-x-padding);
      top: var(--box-y-padding);
    }
  }
	
  .content {
    margin-bottom: 6rem;
    margin-bottom: 0;
  }

  @media (min-width: 48rem) {
    .content {
      margin-bottom: 0;
    }
  }

  .contact-info button {
    margin-top: 70px;

  }
	
	.contact-info a {
    text-decoration: none;
  }

  .contact-info img {
   width: 100%;
  }
  

  .contact-info {
    display: grid;
    grid-template-columns: 25px 200px 25px 140px;
  }

  .contact-info p:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }

  .contact-info p:nth-child(2) {
    grid-column: 4;
    grid-row: 1;
  }
  .contact-info p:nth-child(3) {
    grid-column: 1 / span 4;
    grid-row: 2;
    text-align: center;
  }

  .contact-info img:nth-child(4) {
    grid-column: 1;
    grid-row: 1;
    margin-top: 8px;
  }

  .contact-info img:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
    margin-top: 8px;
  }
  .contact-info img:nth-child(6) {
    grid-column: 2;
    grid-row: 2;
    width: 13%;
  }

  .contact-info button:nth-child(7) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

	
  .img {
    position: relative;
  }
	
	.img a {
    position: absolute;
		left: 0;
		bottom: 0;
  }
		
	
  .img img {
    max-width: 100%;
    vertical-align: middle;
    box-shadow: 1rem 2rem 3rem rgb(61 48 41 / 10%);
  }

  /* weather rules here!*/
  .weather-box {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
  #weather_title {
    grid-column: span 2;
    grid-row: 1;
  }

  .weather-content {
    grid-column: 1;
    grid-row: 2;
  }

  #forecast {
    grid-column: 2;
    grid-row: 2;
  }
  .weather-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 85px 50px 25px;
    max-width: 100%;
    margin: 0 0 1rem 2rem;
    background-color: rgba(240, 240, 240, 0.8);
  }

  .weather_illustration img {
    grid-column: 1;
    grid-row: 1;
  }

  #temp {
    font-size: 2rem;
    margin: auto;
    grid-column: 2;
    grid-row: 1;
  }
  figure {
    padding: 0;
    margin: 0;
  }
  .weather figure img {
    width: 36%;
    margin: 6px;
  }

  figcaption.weather_second_title {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .speed_paragraphy {
    grid-column: span 2;
    grid-row: 3;
  }

  .chill_paragraphy {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
  .tribute_paragraphy {
    grid-column: 1 / span 2;
    grid-row: 5;
  }

  .tribute_paragraphy a {
    color: #2F6630;
  }

  .tribute_paragraphy a:hover {
    background-color: whitesmoke;
    font-weight: 900;
  }

  /* Weather Forecast */
  .forecast-box {
    display: flex;
    grid-template-columns: repeat(4, 80px);
    justify-content: space-evenly;
    margin: 1rem;
  }

  #forecast h2 {
    text-align: center;
  }

  .forecast-box h4,
  .forecast p {
    margin: 0;
  }

  .forecast-box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reserve-main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    margin-left: 10px;
  }


  .full-name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
  }
  
  .map-wrapper {
    height: 470px;
  }
  
  iframe {
    height: 100%;
  }

  .suites-wrapper {
    display: flex;
  }

  section.reception-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 48px 32px;
    column-gap: 5px;
  }

  div.reception-content-two {
    grid-row: 1;
  }
  /*Content Two*/
  /*.persuasive-wrapper {
    display: grid;
    grid-template-columns: 50px 165px 2fr 155px 50px;
    grid-template-rows: 58px auto;
    padding: 2rem 2rem 35px 2rem;
    background-color: #f8f9fa;
    width: fit-content;
  }*/

  section.temple-class h2, section.amenties-class h2 {
    margin-left: 1.2rem;
  }
  div.cards {
    margin: 0 15px 0 15px;

  }
  p.homepage-button-one {
    display: none;
  }

  ul.wedding-services {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 100px 100px;
    padding: 0;
  }
  
  ul.wedding-services li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  ul.dinner-services {
    display: grid;
    grid-template-columns: 250px 250px;
    padding: 0;
  }
  
 
  ul.dinner-services li {
    display: flex;
    flex-direction: column;
  }
   
  

} /*end medium */

