/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  .date {
    grid-column: span 3;
  }
  body {
    max-width: 50rem;
    margin: auto;
  }
  h1.title{margin: revert;}

    /*----------- NAVIGATION --------------*/
    nav button {display: none;}

    nav ul {
      display: flex;
      margin-left: 2vw;
      border-left: 1px solid rgba(0,0,0,0.3);
    }
  
    nav ul li a {
      border: none;
      padding: .5rem 1rem;
      border-right: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li.active a {
      color: #FFFFFF;
      background-color: #2F6630;
    }

    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 50px;
    }
    .title {
      grid-column: span 4; 
      grid-row: 1;
      font-size: 1.5rem;
      margin: revert;
    }
    .hero {
      grid-column: 2 / span 2;
      grid-row: 2 / span 2;
      height: 98.6%;
    }
    .news {grid-column: 2 / span 3; grid-row: 4;}
    .spot1 {grid-column: 4; grid-row: 2;}
    .spot2 {grid-column: 4; grid-row: 3;}
    .join {display: block; grid-column: 1; grid-row: 4; text-align: inherit;}
    .event {grid-column: 1; grid-row: 2;}
    .weather {grid-column: 1; grid-row: 3;}

    .action button {
      display: block;
      line-height: 2em;
      width: 6em;
      background-color: #FDA74F;
      font-size: 1.2em;
      border-radius: 7px;
      border: none;
      color: white;
      margin: auto;
    }

    .action {
      display: block;
      position: absolute;
      background-color: rgba(240, 240, 240, 0.8);
      margin: 1em 2em;
      padding: 2em;
      text-align: center;
    }

    
} /*end large */