/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
   box-sizing: border-box;
  }
  :root {
    /* change the values below to your colors from your palette */
    --primary-color: #292D33;
    --secondary-color: white;
    --accent1-color: #237D77;
    --accent2-color: white;
   
  
    /* change the values below to your chosen font(s) */
    --heading-font: Ubuntu, sans-serif;
    --paragraph-font: Lora, serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-black: #FFFFFF;  /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
    --paragraph-color-on-white: #292D33; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #FFFFFF; /* paragraph text on a colored background */ 
    --text-background-color: #292D33;
    --nav-link-color: #292D33;
    /*--nav-background-color: #292D33;*/
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #292D33;

    --box-x-padding: 2rem;
	  --box-y-padding: 2rem;
    @media (min-width: 40em) {--box-y-padding: 4rem;}
	  @media (min-width: 60em) {--box-x-padding: 3rem; --box-y-padding: 6rem;}
		
		
  }

  :root {
    --box-x-padding: 2rem;
    --box-y-padding: 2rem;
  }
  @media (min-width: 48rem) {
    :root {
      --box-y-padding: 4rem;
    }
  }
  @media (min-width: 64rem) {
    :root {
      --box-x-padding: 3rem;
      --box-y-padding: 6rem;
    }
  }
  
/* body rules here!*/
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
/* header rules here!*/
header {
  padding: .5rem 2%;
  display: grid;
  grid-template-columns: 50px auto;
}

div.logo {
  border: 1px solid white;
  width: 200px;
  grid-row: 1;
  grid-column: 2;
  margin-left: auto;
  margin-right: auto;
}

div h1, h2 {
  font-size: 1rem;
}

.slogan {margin-top: .2rem;}


header a > img {
  display: block;
  max-width: 100%;
  background-color: var(--headline-color-on-black);
}

header div {
  margin-left: 10px;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

header button {
  background-color: transparent;
  border: none;
  font-size: 2.3rem;
  color: var(--paragraph-color-on-white);
  grid-column: 1;
}

/* navigation rules here! */
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
}

nav {
  line-height: 4rem;
  font-size: 1.2rem;
}


nav ul li.active a{
  font-weight: bold;
  border-left: 3px solid black;
}

nav a:hover {
  font-weight: 900;
}

nav ul {display: none;}
nav ul.open {display: block;}

ul.nav-box li ul{
  display: block;
  position: absolute;
  background-color: rgba(240, 240, 240, 0.8);
  padding: 0 15px 0 15px;
  list-style-type: none;
}

ul.nav-box li a {
  color: var(--paragraph-color-on-white);
  width: 100px;
  height: 70px;
  display: inline-block;
  text-decoration: none;
}

ul.nav-box .dropdown-content li a {
  color: var(--paragraph-color-on-white);
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  /* padding-left: 0; */
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* main rules here! */
div.showme{display: block;}
div.hideme{display: none;}

.title {
  padding: 0;
  margin: 0 0 0 3px;
}


section.temple-class figure img {
  display: block;
  position: relative;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
}
figure{
  padding: 0;
  margin: 0;
}

p {
  margin: 5px;
  color: #9aa0a6;
}
.homepage-subtext-1 {
  line-height: 1.6rem;
}
h2 {
  margin: 5px;
}

.temple-box {
  border: 1px solid gainsboro;
  margin: 25px;
}

section {
  display: block;
  margin: 5px;
}

.services-main section {
  border: none;
}

.homepage-illustration-1 img {
  width: 100%;
  box-shadow: 0px 2px 5px 0px grey;
}

.temple-class figcaption {
  display: block;
  padding: 8px 14px;
  background-color: var(--accent1-color);
  color: var(--paragraph-color-on-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

section.amenties-class ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}

section.amenties-class ul li img {
  width: 20%;
}

section.amenties-class ul {
  padding: 0;
}

/* Carousel */

.media {
  display: flex;
  align-items: flex-start;
}
.carousel-container {
  display: block;
  margin: .5rem;
}

.carousel-mincontainer {
  display: flex;
  margin: .5rem;
  flex-wrap: wrap;
}

.my_carousel .testimonial p {
	text-indent: 3px;
  line-height: 21px;
	margin: 0;
  color: #ffffff;
}
.my_carousel .media img {
	width: 75px;
	height: 75px;
	display: block;
	border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  color: white;
}

.my_carousel {
  position: relative;
  margin: .5rem .5rem 50px .5rem;
}
.carousel-item {
  position: relative;
  display: none;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
}

.my_carousel .carousel-item {
	color: #999999;
	overflow: hidden;
	font-size: 13px;
}

.my_carousel .media {
	position: relative;
	padding: 0 0 0 20px;
}

.my_carousel .testimonial {
  color: #ffffff;
  position: relative;    
  background: var(--paragraph-color-on-white);
	padding: 15px;
  margin: 0 0 20px;
}
.my_carousel .testimonial::before, .my_carousel .testimonial::after {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.my_carousel .testimonial::before {
  width: 20px;
  height: 20px;
	background: #9b9b9b;
	box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.my_carousel .testimonial::after {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  border-left-color: #ffffff;
}

.my_carousel .carousel-item .carousel-mincontainer > div:first-child .media {
	margin-left: 0;
}

.my_carousel .testimonial p::before {
	content: '\94';
  color: #ffffff;
  font-weight: bold;
  font-size: 68px;
  line-height: 70px;
  position: absolute;
  left: -25px;
  top: 0;
}
.my_carousel .overview {
	padding: 3px 0 0 15px;
}

.my_carousel .overview .details {
	padding: 5px 0 8px;
}

.my_carousel .overview b {
	text-transform: uppercase;
	color: var(--accent1-color);
}

.my_carousel .carousel-control {
	width: 30px;
	height: 30px;
  background: #666666;
  text-shadow: none;
	top: 4px;
}

.carousel-control i {
	font-size: 16px;
}

.carousel-control.left {
	left: auto;
	right: 40px;
}

.carousel-control.right {
	left: auto;
}

.carousel-indicators {
  bottom: -50px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
}
#contact-illustration img{
  width: 98%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

.media-left {
  display: flex!important;
  margin-right: 1rem!important;
}

.media-body {
  flex: 1;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
  height: 18px;
	border-radius: 0;
	margin: 1px 4px;
}

.carousel-indicators li {	
  box-sizing: content-box;
  background: #e2e2e2;
  border: 4px solid #ffffff;
  flex: 0 1 auto;
}

.carousel-indicators li.active {
	color: #ffffff;
  background: var(--accent1-color);    
  border: 5px double;    
}

.star-rating li {
	padding: 0 2px;
}

.star-rating i {
	font-size: 14px;
	color: #ffdc12;
}

.carousel-control-prev {
    left: 0;
}
.carousel-control-next {
    right: 0;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #ffffff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}


/* Footer rules */
footer {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
  display: block;
  border: 1px solid #9aa0a6;
}

footer h3 {
  margin: 3px;
}

.footer-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social {
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
}

.footer-content > a img {
  width: 40%;
}
.footer-content {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

footer h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}


.footer-content > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.2);
  margin:0 8px;
  background-color: #ffffff;
  opacity:0.75;
}

.footer-content > a:hover {
  opacity:0.9;
}
.footer-content  ul a:hover {
  opacity: 1;
}


footer .copyright {
  text-align: center;
  padding-top: 24px;
  font-size: 18px;
  margin-bottom: 0;
}


footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

footer p a {
  color: inherit;
  text-decoration: none;
}


html.temple-html {
  background-color: #f5f5f5;
}

.cards section {
  border: none;
}


.contact-info {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.contact-info p:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.contact-info p:nth-child(2) {
  grid-column: 2;
  grid-row: 2;
}
.contact-info p:nth-child(3) {
  grid-column: 2;
  grid-row: 3;
}

.contact-info img:nth-child(4) {
  grid-column: 1;
  grid-row: 1;
  margin-top: 8px;
}

.contact-info img:nth-child(5) {
  grid-column: 1;
  grid-row: 2;
  margin-top: 8px;
}
.contact-info img:nth-child(6) {
  grid-column: 1;
  grid-row: 3;
}

.contact-info button:nth-child(7) {
  grid-column: 1 / span 2;
  grid-row: 4;
}


.contact-info img {
  width: 100%;
 }

.img img {
  width: 100%;
}

.content button {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: .05rem;
  color: inherit;
  display: inline-block;
  background-color: var(--accent1-color);
  border: none;
}
.contact-info p:nth-child(3) a{
  color: black;
}

.contact-info p:nth-child(3) a:hover{
  background-color: var(--accent1-color);
  color: var(--paragraph-color-on-color);
}

.contact-info a {
  text-decoration: none;
}

/*-------- SERVICES PAGE ------*/
.services-section > h3 {
  /*color: white;
  background-color: rgba(255, 166, 0, 0.822);*/
  font-size: 30px;
  padding: 2%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.services-title {
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-color-on-white);
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.amenities-box, .special-services-box, .fulltime-services-box, .reception-services-box {
  /*background-color: rgb(208, 236, 235);*/
  margin: 2%;
}

ul.services-list {
  list-style-type: disclosure-closed;
  background-color: inherit;
  padding: 4%;
  line-height: 2em;
  font-size: 12px;
  text-align: left;
}

/*-------- form ------*/
form fieldset {
  margin: 2rem 0;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem 2%;
  background-color: white;
}

form legend {
  color: #0B0B0B;
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #0B0B0B;
  color: #A0EBE5;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}
input.submitBtn:hover {
  font-weight: 900;
}
form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

textarea {
  height: 35vh;
  width: 100%;
}

input[type="radio"] {
  margin-right: 3px;
}


div.weather-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8)
}

div.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.homepage-button-one {
  display: none;
}
p.homepage-button-two {
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .05rem;
  background-color: var(--accent1-color);
  color: inherit;
  display: inline-block;
}

p.homepage-button-one a, p.homepage-button-two a{
  text-decoration: none;
  color: var(--paragraph-color-on-color);

}

p.homepage-button-one a:hover, p.homepage-button-two a:hover {
  font-weight: 900;
}

.contact-info a {
  text-decoration: none;
  color: var(--paragraph-color-on-color);

}

.contact-info a:hover {
  font-weight: 900;
}

.unique a:hover {
  font-weight: 900;
}
.unique a{
  color: #f0f9ff;
}

main.thanks_page {
  margin-left: 1rem;
}
.heart {
  /* display: inline-block; */
  padding: 15px 15px;
  cursor: pointer;
  /* margin-bottom: -94px; */
  position: absolute;
  z-index: 1;
  font-size: 2rem;
}

.img img[data-src] {
  filter: blur(0.2em);
}

.img img {
  filter: blur(0em);
  transition: filter 0.5s;
}

.reserve-main {
  display: block;
  margin: 0 10px 0 10px;
}

.reserve-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  margin-bottom: 8px;
  font-size: 1.3rem;
  
}

.reserve-main form {
  grid-column: 1;
  grid-row: 2;
}

.services-section li:hover {
  color: var(--paragraph-color-on-color);
  background-color: var(--accent1-color);
}

/* Banner */
#banner {
  color: #fff;
  background-color: var(--accent1-color);
  padding: 15px;
  position: relative;
  height: 50px;
}

#banner > #closeBanner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.hide {
  display: none;
}

section.suites-class figure img {
  display: block;
  position: relative;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
}


/* contact form code goes here */
.form-wrapper {
  margin: 0.5rem;
}
.contact-top {
  display: block;
  padding-top: 1rem;
  font-size: .8rem;
  color: #9c2c13;
}

.map-wrapper {
  border: 1px solid #0B0B0B;
  height: 490px;
  margin-top: 15px;

}
iframe {
  width: 100%;
  display: block;
  height: 100%;
}


.form-wrapper form {
  margin-left: 7px;
}

form label.contact-top input {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.form-wrapper textarea {
  width: 100%;
  height: 20vh;
}

.form-wrapper form input.submitBtn {
  margin: auto;
}

.form-wrapper input.submitBtn:hover {
  font-weight: 550;
}
.form-wrapper h2 {
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}
.missionary-main hr {
  width: 2%;
  text-align: center;
  border: 1px solid #09B8BA;
}

.missionary-main h1, .missionary-main h2 {
  text-align: center;
}

p.title-paragraph {
  text-align: center;
}

div.suites-title {
  display: flex;
  flex-direction: column;
}

.suites-title img {
  width: 5%;
  margin-right: auto;
  margin-left: auto;
}

#feedback {
  background-color: var(--accent1-color);
  color: var(--paragraph-color-on-color);
  position: absolute;
  left: 0;
  right: 0;
  padding: .5rem;
  /* make this element invisible until we're ready for it*/
  display: none;
  text-align: center;
}



#reception-heading-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -68px;
}

#reception-heading-content h2{
  margin-left: inherit;
}

.reception-header {
  background-color: #f8f9fa;
  padding-bottom: 10rem;
}

#reception-heading-content img {
  margin: auto;
}

div.reception-illustration-one img, div.reception-illustration-two img{
  display: block;
  max-width: 100%;
  border: 1px solid #cccccc;
  padding: 5px;
  box-shadow: 5px 5px 5px #999999;
  margin-left: auto;
  margin-right: auto;
}

div h3.banner {
  color: white;
  background-color: var(--accent1-color);
  padding: 2%;
  max-width: 140px;
  position: relative;
  margin-bottom: -15%;
  z-index: 1;
}

div.banner:hover {
  font-weight: 900;
}

section.temple-class h2, section.amenties-class h2 {
  margin-left: inherit;
}

div.temple-box hr {
  width: 35%;
  border: 1px solid var(--accent1-color);
  float: left;
}

div.temple-box h3 {
  margin: .5rem;
}

p.homepage-subtext-1, .forecast-item p, div.details{
  color: var(--paragraph-color-on-white);
}

div.temple-content {
  background-color: rgba(240, 240, 240, 0.8)
}

h2.homepage-title-1, section.temple-class h2, section.amenties-class h2, div.my_carousel h2{
  font-size: 1.5rem;
}